@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
    --gradient-base-100: linear-gradient(90deg, oklch(0.98 0.0029 264.54) 0%, oklch(0.98 0.0029 264.54) 70%); /* #f7f8fa */
    --color-base-100: oklch(0.4 0 0); /* #474747 */
    --color-base-200: ;
    --color-base-300: oklch(0.92 0.0075 260.73);  /* #e1e4e9 */
    --color-base-content: oklch(1 0 0); /* #ffffff */
    --color-primary: oklch(0.68 0.1767 252.13); /* #3299ff */
    --color-primary-content: ;
    --color-secondary: ;
    --color-secondary-content: ;
    --color-accent: oklch(0.68 0.2091 14.76); /* #ff516f */
    --color-accent-content: ;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
    --gradient-base-100: linear-gradient(90deg, oklch(0.32 0.0023 247.9) 0%, oklch(0.27 0 0) 70%);
    --color-base-100: oklch(1 0 0); /* #ffffff */
    --color-base-200: ;
    --color-base-300: ;
    --color-base-content: oklch(0.32 0.0023 247.9); /* #323334 */
    --color-primary: oklch(0.68 0.1767 252.13); /* #3299ff */
    --color-primary-content: ;
    --color-secondary: ;
    --color-secondary-content: ;
    --color-accent: oklch(0.68 0.2091 14.76); /* #ff516f */
    --color-accent-content: ;
}

:root {
  --color-neutral: oklch(0.32 0.0023 247.9); /* #323334 */
  --color-neutral-content: oklch(0.3 0.0023 247.9); /* #2c2d2e */

  --color-info: #fff;
  --color-info-content: #fff;
  --color-success: #fff;
  --color-success-content: #fff;
  --color-warning: #fff;
  --color-warning-content: #fff;
  --color-error: #fff;
  --color-error-content: #fff;

  /* Размеры шрифтов */
  --text-xl:  0.6rem; /* ~10px */
  --text-2xl: 0.8rem; /* ~13px */
  --text-3xl: 1.0rem; /* ~16px */
  --text-4xl: 1.2rem; /* ~19px */
  --text-5xl: 1.4rem; /* ~23px */
  --text-6xl: 1.8rem; /* ~28px */
  --text-7xl: 2.1rem; /* ~33px */
  --text-8xl: 2.5rem; /* ~40px */
  
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --radius-box: 1.125rem; /* 18px */
  --radius-field: 0.938rem; /* 15px */
  --radius-selector: 0.75rem; /* 12px */
  --border: 1px;
}

.grad-base-100 {
  background-image: var(--gradient-base-100);
}

.dark.grad-base-100 {
  background-image: var(--gradient-base-100);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: oklch(0.68 0.1767 252.13);
  border: none;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar {
  scrollbar-color: oklch(0.68 0.1767 252.13) transparent;
  scrollbar-width: thin;
}

.icon-list-item > svg {
  width: 25px;
  height: 25px;
}

.icon-list-item > svg > path {
  transition: fill 200ms ease-in;
}

.icon-list-item:hover > svg > path,
.icon-list-item.active > svg > path {
  fill: var(--color-primary);
}
