@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0); /* #ffffff  Белый */
  --color-base-200: oklch(98% 0.002 247.839); /* #f9f9ff */
  --color-base-300: oklch(92% 0.004 286.32); /* #e9e9f8 */
  --color-base-content: oklch(0.39 0 0); /* #636363 */
  --color-primary: oklch(0.63 0.1997 240.71); /* #3b82f6 */
  --color-primary-content: oklch(100% 0 0); /* #ffffff */
  --color-secondary: oklch(0.32 0.0044 145.47); /* #323432 */
  --color-secondary-content: oklch(27% 0.072 132.109); /* #166534 */
  --color-accent: oklch(0.68 0.2091 14.76); /* #ff516f */
  --color-accent-content: oklch(100% 0 0); /* #ffffff */
  --color-neutral: oklch(26% 0.007 34.298); /* #404040 */
  --color-neutral-content: oklch(98% 0.001 106.423); /* #f9f9f9 */
  --color-info: oklch(62% 0.214 259.815); /* #60a5fa */
  --color-info-content: oklch(97% 0.014 254.604); /* #f0f9ff */
  --color-success: oklch(79% 0.209 151.711); /* #4ade80 */
  --color-success-content: oklch(100% 0 0); /* #ffffff */
  --color-warning: oklch(79% 0.184 86.047); /* #facc15 */
  --color-warning-content: oklch(98% 0.026 102.212); /* #fef9c3 */
  --color-error: oklch(63% 0.237 25.331); /* #ef4444 */
  --color-error-content: oklch(98% 0.003 247.858); /* #fef2f2 */

  --radius-box: 1.2rem;
  --radius-field: 0.9rem;
  --radius-selector: 2rem;
  --size-selector: 0.21875rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0.4 0 0); /* #666666 */
  --color-base-200: oklch(0.32 0.0044 145.47); /* #515151 */
  --color-base-300: oklch(37% 0 0); /* #5e5e5e */
  --color-base-content: oklch(100% 0 0); /* #ffffff */
  --color-primary: oklch(0.63 0.1997 240.71); /* #3b82f6 */
  --color-primary-content: oklch(100% 0 0); /* #ffffff */
  --color-secondary: oklch(0.32 0.0044 145.47); /* #323432 */
  --color-secondary-content: oklch(27% 0.072 132.109); /* #166534 */
  --color-accent: oklch(0.68 0.2091 14.76); /* #ff516f */
  --color-accent-content: oklch(100% 0 0); /* #ffffff */
  --color-neutral: oklch(26% 0.007 34.298); /* #404040 */
  --color-neutral-content: oklch(98% 0.001 106.423); /* #f9f9f9 */
  --color-info: oklch(62% 0.214 259.815); /* #60a5fa */
  --color-info-content: oklch(97% 0.014 254.604); /* #f0f9ff */
  --color-success: oklch(79% 0.209 151.711); /* #4ade80 */
  --color-success-content: oklch(100% 0 0); /* #ffffff */
  --color-warning: oklch(79% 0.184 86.047); /* #facc15 */
  --color-warning-content: oklch(100% 0 0); /* #ffffff */
  --color-error: oklch(70% 0.191 22.216); /* #f87171 */
  --color-error-content: oklch(98% 0.003 247.858); /* #fef2f2 */

  --radius-box: 1.2rem;
  --radius-field: 0.9rem;
  --radius-selector: 2rem;
  --size-selector: 0.21875rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}